.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    background-color: #73f9cc;
    padding: 2rem;
}


@media screen and (max-width: 1200px) {
    .sidebar  {
        padding: 1.5rem;
        width: 180px;
    }
}